In [5]:

import matplotlib.pyplot as plt

/home/developer/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MyApp") \
    .getOrCreate()

print(spark)          # Should print SparkSession object
print(spark.version)  # Should print Spark version, e.g., 3.5.0

<pyspark.sql.session.SparkSession object at 0x7bb0e0877d00>
4.0.1

In [6]:

from pyspark.sql.functions import col
data = [("A", 20), ("b", 30), ("C", 40)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)

# df.show()
# df.describe().show()
# df["Name"]
# df.select("Age")

df.select(col("Name"))

df = df.withColumn("Age", df["Age"]*10)
df

# print(df.printSchema())
# print(df.columns)

# pdf = df.toPandas()

# plt.figure(figsize=(6,4))
# plt.bar(pdf["Name"], pdf["Age"])

# plt.xlabel("Name")
# plt.ylabel("Age")
# plt.title("Name and Age")

# plt.show()

DataFrame[Name: string, Age: bigint]

# Read Csv

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Step 1: Initialize SparkSession
spark = SparkSession.builder.appName("DataFramePractice").getOrCreate()

# Step 2: Create sample data
data = [
    (1, "Ajay", 25, "IT"),
    (2, "Singh", 30, "HR"),
    (3, "Priya", 28, "Finance"),
    (4, "Anil", 35, "IT"),
    (5, "Kiran", 22, "HR")
]

# Step 3: Define column names
columns = ["id", "name", "age", "department"]

# Step 4: Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Step 5: Show DataFrame
df.show()

+---+-----+---+----------+
| id| name|age|department|
+---+-----+---+----------+
|  1| Ajay| 25|        IT|
|  2|Singh| 30|        HR|
|  3|Priya| 28|   Finance|
|  4| Anil| 35|        IT|
|  5|Kiran| 22|        HR|
+---+-----+---+----------+

In [ ]:
# df.select("name").show()

# df.select("name", "age").show()

# df.collect()

# df.filter(df.age > 10).show()

# df.where(col("age")>10).show()

df2 = df.withColumn("age_plus+5", col("age")+5)
df2.show()

df3 = df2.withColumnRenamed("age_plus+5", "5_added")

df3.show()

df4 = df3.drop("5_added")

df4.show()

df.select("name").collect()[0][0]  # first row, name column

+---+-----+---+----------+----------+
| id| name|age|department|age_plus+5|
+---+-----+---+----------+----------+
|  1| Ajay| 25|        IT|        30|
|  2|Singh| 30|        HR|        35|
|  3|Priya| 28|   Finance|        33|
|  4| Anil| 35|        IT|        40|
|  5|Kiran| 22|        HR|        27|
+---+-----+---+----------+----------+

+---+-----+---+----------+-------+
| id| name|age|department|5_added|
+---+-----+---+----------+-------+
|  1| Ajay| 25|        IT|     30|
|  2|Singh| 30|        HR|     35|
|  3|Priya| 28|   Finance|     33|
|  4| Anil| 35|        IT|     40|
|  5|Kiran| 22|        HR|     27|
+---+-----+---+----------+-------+

+---+-----+---+----------+
| id| name|age|department|
+---+-----+---+----------+
|  1| Ajay| 25|        IT|
|  2|Singh| 30|        HR|
|  3|Priya| 28|   Finance|
|  4| Anil| 35|        IT|
|  5|Kiran| 22|        HR|
+---+-----+---+----------+

25